<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamers.ledie"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />
<uses-permission android:name="android.permission.VIDEO" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Map1"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_map1" >
        </activity>
        <activity
            android:name=".Bad"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_bad"
            android:layout_width="fill_parent"
    		android:layout_height="fill_parent"
    		android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".Good"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_good"
            android:layout_width="match_parent"
    		android:layout_height="match_parent"
    		android:launchMode="singleTask" >
        </activity>
    </application>

</manifest>
